/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}
.ham-wrap {
    display: none;
}

header .inner {
    display: flex;
    max-width: 1620px;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    /* background: rgba(0, 0, 0, 0.2); */
}

.header-left {
    display: flex;
    gap: 1rem;
    min-height: 70px;
}

header h1 {
    display: flex;
    padding-top: 18px;
    /* align-items: center; */
}

header .logo img {
    filter: invert(1);
    width: 18rem;
}

/* header main menu */
.main-tab {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 3rem;
    color: var(--text-main2);
    font-size: 1.6rem;
    margin-top: 6px;
}

.main-tab .main-menu {
    display: flex;
    gap: 4.8rem;
}

.main-tab .tab {
    display: none;
    gap: 7rem;
    padding: 20px 0 10px 0;
    margin-top: 21px;
    width: 100%;
}

.main-tab .tab.active {
    display: flex;
}

.main-tab>div>ul {
    width: 150px;
}

.main-tab .tab a {
    line-height: 2;
    /* background: palegreen; */
}

/* header right */
.header-right {
    display: flex;
    gap: 3rem;
    /* background: pink;  */
    padding-top: 20px;
    align-items: flex-start;
}

.language {
    display: flex;
    color: var(--text-main2);
    font-size: 1.6rem;
    align-items: flex-start;
    gap: 6px;
    width: 36px;
    justify-content: space-between;
}

.language img {
    width: 0.9rem;
    margin-top: 8px;
}

.la-list li {
    display: none;
}

.la-list>li>a {
    padding: 2px 0 15px 0;
    display: block;
}

.la-list li.active {
    display: block;
}

.language.open .la-list li {
    display: block;
}

.gnb-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.gnb-menu .mo-ham,
.mo-logo {
    display: none;
}

.gnb-menu img {
    width: 24px;
}

/* 반응형 헤더 */
/* 반응형 헤더 */
@media screen and (max-width:1400px) {
    html {
        font-size: 8px;
    }

    /* header */
    header .inner {
        /* padding: 2.1rem; */
        justify-content: center;
        min-height: 70px;
    }

    .gnb-menu {
        width: 95vw;
        justify-content: space-between;
    }

    header h1,
    .language,
    .gnb-menu .mo-hidden {
        display: none;
    }

    .header-left {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
    }

    .ham-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    .ham-gnb {
        display: flex;
        gap: 2rem;
    }

    .ham-wrap img {
        width: 24px;
    }

    .main-tab {
        position: fixed;
        width: 70%;
        height: 100vh;
        padding: 0;
        max-width: 500px;
        background: #000;
        color: var(--text-main2);
    }

    .main-tab .main-menu>li:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .main-tab .main-menu {
        display: block;
    }

    .main-tab .main-menu>li {
        position: relative;
        text-indent: 20px;
    }

    .main-tab .main-menu>li:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .main-tab .main-menu>li>a {
        display: block;
        line-height: 50px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    .main-tab .tab.active {
        display: block;
        margin-top: 0;
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    .main-tab .tab a {
        display: block;
        width: 100%;
        height: 25px;
        text-indent: 15px;
    }

    .main-tab .tab li:first-child a {
        text-indent: 5px;
    }

    .main-tab .tab>ul {
        margin-top: 10px;
    }

    .gnb-menu .mo-ham {
        display: block;
    }

    .gnb-menu .mo-logo img {
        width: 22rem;

    }

    .gnb-menu .mo-logo {
        display: block;
    }

}