/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

header .inner {
    display: flex;
    max-width: 1620px;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    /* background: rgba(0, 0, 0, 0.2); */
}

.header-left {
    display: flex;
    gap: 1rem;
    min-height: 58px;
}

header h1 {
    display: flex;
    padding-top: 15px;
    /* align-items: center; */
}

header .header-left img {
    filter: invert(1);
    width: 18rem;
}

/* header main menu */
.main-tab {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 3rem;
    color: var(--text-main2);
    font-size: 1.6rem;
    margin-top: 2px;
}

.main-tab .main-menu {
    display: flex;
    gap: 4.8rem;
}

.main-tab .tab {
    display: none;
    gap: 7rem;
    padding: 20px 0 10px 0;
    margin-top: 21px;
    width: 100%;
}

.main-tab .tab.active {
    display: flex;
}

.main-tab>div>ul {
    width: 150px;
}

.main-tab .tab a {
    line-height: 2;
    /* background: palegreen; */
}

/* header right */
.header-right {
    display: flex;
    gap: 3rem;
    /* background: pink; */
    padding-top: 18px;
}

.language {
    display: flex;
    color: var(--text-main2);
    font-size: 1.6rem;
    align-items: center;
    gap: 6px;
    margin-left: 1rem;
}

.language img {
    width: 0.9rem;
}

/* EN / JP 숨기기 */
.la-list .hidden {
    display: none;
}

.gnb-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.gnb-menu .mo-ham,
.mo-logo {
    display: none;
}

.gnb-menu img {
    width: 24px;
}

/* 반응형 헤더 */
@media screen and (max-width:1400px) {
    html {
        font-size: 8px;
    }

    /* header */
    header .inner {
        padding: 2.1rem;
        justify-content: center;
    }

    .gnb-menu {
        width: 95vw;
        justify-content: space-between;
    }

    header h1,
    .main-tab,
    .language,
    .gnb-menu .mo-hidden {
        display: none;
    }

    .gnb-menu .mo-ham {
        display: block;
    }

    .gnb-menu .mo-logo img {
        width: 22rem;

    }

    .gnb-menu .mo-logo {
        display: block;
    }
}