#map{
    overflow: hidden;
}

.hide{
    display: none;
}

.map-search-wrap{
    max-width: 1920px;
    padding: 13.5rem 15rem 10rem 15rem;
    margin: 0 auto;
    background-color: var(--background-color);
}


/* inner */
 .map-search-wrap>.inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 835px;
} 

.map-inner-left{
        width: 130%;
        overflow: hidden;
    }

/* .map-inner-right{
    
} */

.map-search-inner-top .filter{
    display: flex;
    gap: 10px;
    line-height: 24px;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.6rem;
    font-weight: 400;
}

.map-search-inner-bottom{
    display: flex;
    gap: 30px;
    /* flex: 1; */
}
.mobile-map-tab{
    display: none;
}


/* inner-left */
.map-img-box{
    position: relative;
    width: 100%;
}

.map-inner-left .map-img-box .map-location-icon .location {
    margin: 1rem;
    background: #fff;
    align-items: center;
    border-radius: 4px;
    border: 0.5px solid var(--text-sub2);
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
}

.map1{
    filter: grayscale(100%);
    border-radius: 12px;
    width: 95rem;
    height:80rem;
    aspect-ratio: calc(95 / 80);
}



/* inner-right */
.map-inner-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
}

.map-inner-right-top{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
}
.map-inner-right-bottom{
    /* bottom: 0; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateY(7%);
    width: 100%;
}



.select,
.select1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 310px; */
    width: 100%;
    gap: 5px;
    transition: 0.5s;
}
button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    align-items: center;
    text-align: left;
    background-color: var(--text-main2);
    
}
button.active{
    border: 1px solid var(--text-main1);
}

.sel-inner-left,
.sel-inner-left1{
    display: flex;
    flex-direction: column;
}
.sel-inner-left>p,
.sel-inner-left1>p{
    font-size: 1.6rem;
    font-weight: 400;
}
.sel-inner-left .country-sel
.sel-inner-left1 .country-sel1{
    font-size: 1.3rem;
    color: var(--text-sub2);
}

.select-depth,
.select-depth1{
    display: flex;
    flex-direction: column;
    line-height: 45px;
    background-color: var(--text-main2);
    padding: 5px 15px;
    border-radius: 12px;
    display: none;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid var(--text-sub2);
    /* transition: all 0.5s ease; */
    /* opacity: 0; */
    /* max-height: 0; */
    
}
.select-depth.active,
.select-depth1.active{
    display: block;
    z-index: 100;
    /* opacity: 1; */
    /* max-height: 100%; */
}


.sel-inner-right>a,
.sel-inner-right1>a{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/ysl-map-Arrow.svg);
}

/* inner-right-bottom */
.map-list-box{
    position: absolute;
    display: block;
    top: 75px;
    border: none;
    width: 100%;
    overflow-y: scroll;
    height: 725px;
    border-radius: 12px;
}
.map-list-box::-webkit-scrollbar{
    display: none;
}

.map-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map-card {
    background: var(--text-main2);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.map-card-top {
    display: flex;
    justify-content: space-between;
}

.map-list-title {
    color: var(--text-main1);
    font-size: 1.6rem;
    font-weight: 400;
}

.map-list-dist {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-sub2);
}

.map-card .map-list-exp {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--text-sub2);
}

.map-card .map-list-exp .open {
    color: #558934;
    margin-right: 0.5rem;
}

.map-card .map-list-exp .close {
    color: #D73121;
    margin-right: 0.5rem;
}

.map-card .map-tag-box {
    display: flex;
    gap: 10px;
}

.map-card .map-tag-box>span {
    background-color: #F0F0F0;
    padding: 1.5px 3px;
    border-radius: 4px;
    color: var(--text-sub2);
    font-size: 1.4rem;
    font-weight: 400;
}
.map-card-img-box{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    margin-top: 5px;
    transition: all 0.5s ease;
}
.map-card-img-box.active{
    /* display: block; */
    max-height: 30rem;
    opacity: 1;
    /* transform: scaleY(1); */
}
.map-card-img{
    display: flex;
    justify-content: center;
    /* transition: 0.5s;s */
}



/* respond */
@media screen and (max-width:1400px) {
    .map-search-wrap{
        padding: 10rem 4rem;
    }
    .map-search-wrap>.inner{
        overflow: hidden;
    }

    .map-inner-left{
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
    }
    .map-card{
        padding: 15px;
        padding-bottom: 0;
    }

    .map-card-img-box.active{
        margin-bottom: 15px;
    }
}


@media screen and (max-width:1150px){
    .map-search-wrap>.inner{
        overflow: hidden;
    }

    button{
        padding: 5px 10px;
    }

    .map-card{
        height: 50% !important;
    }
    .map-card-img-box{
        height: 50%;
    }
}


@media (max-width:767px){
    .map-search-wrap>.inner{
        height: 100%;
    }
    .map-search-inner-top{
        width: 95%;
    }
    .map-search-inner-bottom{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 13rem;
    }

    .map-inner-left{
        display: none;
    }
    .map-inner-left.active{
        bottom: 0;
        display: flex;
        justify-content: flex-start;
        width: 130%;
    }

    .map-inner-right{
        /* display: none; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .map-inner-right-top {
        width: 90%;
    }

    .map-inner-right-bottom.active{
        display: block;
        justify-content: center;
        width: 90%;
    }   

    .map-inner-right-bottom{
        display: none;
    }

    .map-img-box{
        /* display: none; */
        border-radius: 8px;
        width: 75%;
        height: 95%;
        overflow: hidden;
        
    }

    .mobile-map-tab{
        display: block;
        transform: translateY(180%);
        display: flex;
        width: 50%;
        gap: 10px;
    }
    .mobile-map-tab button{
        cursor: pointer;
        background: var(--text-main2);
        border: 1px solid var(--text-sub2);
        display: flex;
        justify-content: center;
        padding: 10px 0;
        align-items: center;
        text-align: center;
    }
    .mobile-map-tab button.active{
        background: var(--text-sub2);
        color: var(--text-main2);
        border: 1px solid var(--text-main1);
    }
    .mobile-map-tab>a{
        align-items: center;
    }


}


@media (max-width:393px){
    .map-search-wrap>.inner{
        padding: 5rem 0 0 0;
    }
    .map-search-wrap{
        padding: 40px 20px;
    }
    .mobile-map-tab{
        transform: translateY(150%);
    }
    .map-inner-right{
        gap: 0;
    }
}