.map-filter-popup-wrap {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.map-filter-popup-wrap.active {
    display: block;
}

.map-filter-popup {
    position: absolute;
    background: var(--text-main2);
    width: 64rem;
    height: 80rem;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--text-sub2);
    padding: 20px;
    right: 5%;
    top: 10%;
}

.map-filter-popup-header {
    display: flex;
    justify-content: space-between;
}

.map-filter-popup-header-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-main1);
}
.map-filter-popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100%;
}

.map-filter-content-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 30px;
    align-items: flex-start;
}

.map-filter-content-list>.content {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-main1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map-filter-content-list>.content>.list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-weight: 400;
    cursor: pointer;
}

.map-filter-content-list>.content>.list>li {
    background: #F6F6F6;
    border: 1px solid var(--text-sub1);
    border-radius: 25px;
    padding: 15px 25px;
    align-items: center;
}

.map-filter-content-list>.content>.list>li.active {
    background: var(--text-main1);
    color: var(--text-main2);
}

.map-filter-popup-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.map-filter-btn {
    align-items: center;
    /* border: 1px solid black; */
}

.map-filter-btn:hover>button {
    background: var(--text-main1);
}

.map-filter-btn>button {
    background: var(--text-sub3);
    border-radius: 8px;
    justify-content: center;
    padding: 15px 200px;
    color: var(--text-main2);
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.map-filter-btn>button.active {
    background: var(--text-main1);
}





/* respond */
@media screen and (max-width:1400px) {
    .map-filter-popup{
        top: 13%;
        right: 3%;
    }
}


@media screen and (max-width:1150px) {
    .map-filter-popup {
        width: 40%;
        height: 65%;
        right: 50px;
        top: 130px;
    }
    .map-filter-content-list{
        margin-top: 20px;
    }

    .map-filter-content-list>.content>.list>li{
        padding: 10px 20px;
    }

    .map-filter-btn>button {
        padding: 15px 0;
    }

    .map-filter-btn:hover>button {
        background: var(--text-main1);
    }
}

@media (max-width:767px){
    .map-filter-popup{
        /* margin: 0 auto; */
        height: 70%;
        width: 75%;
        transform: translateX(-10%);
        right: 35;
        top: 150;
    }
    .map-filter-content-list{
        margin-top: 14px;
    }
}


@media (max-width:393px){
    .map-filter-popup{
        width: 80%;
        height: 60%;
        right: 10px;
    }

    .map-filter-content-list{
        margin-top: 10px;
        gap: 1.5rem;
    }

    .map-filter-content-list>.content>.list>li{
        padding: 7px 10px;
    }
}