@media screen and(max-width:1400px){
    .cart-wrap{
        
    }
    .cart-wrap>.inner{
        display: inline-block;
    }
    .cart-inner-bottom{
        display: block;
    }
    .cart-inner-left{
        display: inline-block;
    }
}


@media screen and(max-width:1150px){

}


@media screen and(max-width:767px){

}


@media screen and (max-width:393px){

}