:root {
    --background-color: #f2f2f2;
    --text-main1: #1d1d1d;
    --text-main2: #ffffff;
    --text-sub1: #d9d9d9;
    --text-sub2: #959595;
    --text-sub3: #686868;
    --text-sub4: #4f4f4f;
}

/* cart-op-popup-wrap */
.cart-op-popup-wrap{
    /* display: none; */
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.cart-op-popup-wrap.active{
    display: block;
}

.cart-op-popup{
    width: 370px;
    /* height: 30%; */
    background: var(--text-main2);
    border: 1px solid var(--text-sub2);
    border-radius: 12px;
    position: absolute;
    top: 25%;
    left: 40%;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.cart-op-popup-content-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.cart-op-header{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-sub1);
    display: flex;
    justify-content: end;
}

.cart-op-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-op-content-top{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--text-sub1);
    border-radius: 8px;
    padding: 7px;
}
.cart-op-content-item-title{
    align-items: center;
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.cart-op-content-item-title.active{
    border-bottom: 1px solid var(--text-sub1);
}

.cart-op-content-item-title span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-main1);
}
.cart-op-content-item-depth{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    display: none;
    align-items: flex-start;
    font-size: 1.6rem;
    font-weight: 400;
}
.cart-op-content-item-depth.active{
    display: block;
}

.cart-op-content-bottom{
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    border-radius: 8px;
    border: 1px solid var(--text-sub1);
    background: #EDEDED;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}
.cart-op-content-item-count{
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background: var(--text-main2);
    
}
.cart-op-content-item-count button{
    cursor: pointer;
    align-items: center;
    text-align: center;
    background: var(--text-main2);
    border: none;
    font-size: 2rem;
    font-weight: 300;
    border-radius: 4px;
}
.cart-op-count-minus{
    padding: 3px 13px 5px 13px;
}
.cart-op-count-plus{
    padding: 4px 13px;
}
.cart-op-content-item-count span{
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    padding: 6px 20px;
}

.cart-op-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 400;
    align-items: center;
    flex: 1;
    gap: 10px;
}
.cart-op-bottom-btn-left{
    cursor: pointer;
    border: 1px solid var(--text-sub1);
    border-radius: 8px;
    background: var(--text-main2);
    color: var(--text-main1);
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart-op-bottom-btn-right{
    border: 1px solid var(--text-sub1);
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: var(--text-main1);
    color: var(--text-main2);
    cursor: pointer;
}