.banner {
    overflow: hidden;
    height: 400px;
    /* border: 1px solid black; */
}

.banner-imgs {
    display: flex;
    gap: 30px;
    /* position: relative;

    .banner1 {
        left: 960px;
        transform: translateX(-50%);
    } */
}