/* 공통 */
.inner{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top:60px;
}
h2{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.makeup-list{
    display: flex;
    justify-content: center;
    gap:84px;
}
.makeup-list .img:hover img {
    transform: scale(1.05);
    transform-origin:bottom ;
    transition: 0.5s ;
}
.tap-text {
    margin-top:20px;
    font-size: 16px;
    font-weight:400;
}
.makeup-list .img {
    z-index: 100;
}


/* face-tap */
.face-tap{
    width:275px;
    height:300px;
    text-align: center;
    align-items: center;
    /* border:1px solid black; */
}
.makeup-list .face-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:275px;
    height:260px;
}   
.makeup-list .face-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


/* lip-tap */
.lip-tap{
    width:275px;
    height:300px;
    text-align: center;
    /* border:1px solid black; */
}
.makeup-list .lip-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:275px;
    height:260px;
    /* border:1px solid blue; */
}
.makeup-list .lip-tap .img{
    width:167px;
    height:245px;
    /* border:1px solid black; */
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}   
.makeup-list .lip-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


/* eye-tap */
.eye-tap{
    width:275px;
    height:300px;
    text-align: center;
    /* border:1px solid black; */
}
.makeup-list .eye-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:275px;
    height:260px;
}
.makeup-list .eye-tap-imgs .img{
    position:absolute;
    width:308px;
    height:250px;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
}   
.makeup-list .eye-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


