/* 공통 */
.makeup-inner{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6rem;
}
h2{
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
}
.makeup-list{
    display: flex;
    justify-content: center;
    gap:84px;
}
.makeup-list .img:hover img {
    transform: scale(1.05);
    transform-origin:bottom ;
    transition: 0.5s ;
}
.tap-text {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.makeup-list .img {
    z-index: 100;
}


/* face-tap */
.face-tap{
    width:27rem;
    height:30rem;
    text-align: center;
    align-items: center;
    /* border:1px solid black; */
}
.makeup-list .face-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:27rem;
    height:26rem;
}   
.makeup-list .face-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


/* lip-tap */
.lip-tap{
    width:27rem;
    height:30rem;
    text-align: center;
    /* border:1px solid black; */
}
.makeup-list .lip-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:27rem;
    height:26rem;
    /* border:1px solid blue; */
}
.makeup-list .lip-tap .img{
    width:16.7rem;
    height:24.5rem;
    /* border:1px solid black; */
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}   
.makeup-list .lip-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


/* eye-tap */
.eye-tap{
    width:27rem;
    height:30rem;
    text-align: center;
    /* border:1px solid black; */
}
.makeup-list .eye-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:27rem;
    height:26rem;
}
.makeup-list .eye-tap-imgs .img{
    position:absolute;
    width:30.8rem;
    height:25rem;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
}   
.makeup-list .eye-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
    transform-origin:bottom ;
    /* border:1px solid black; */
}


