/* 1024px이하이면 기본글자크기 / 7px */
@media screen and (max-width:1400px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* 767px이하  */
@media screen and (max-width:767px) {
    grid-template-columns: 1fr 1fr;
}
    gap:2rem; 
    
}

@media screen and (max-width:393px) {

    
}