/* 1024px이하이면 기본글자크기 / 7px */
@media screen and (max-width:1400px) {
    /* .items-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } */

    .item .img-box .img {
        transform: scale(0.8);

    }
}

/* 767px이하  */
@media screen and (max-width:767px) {
    /* .items-list {
        grid-template-columns: repeat(2, 1fr);
    } */
}

@media screen and (max-width:393px) {
    html {
        font-size: 7px;
    }

    .makeup-tap{
        display: none;
    }
    .item{
        margin:0 2rem 0;
    }
    .filter-bar {
        margin:2rem;
    }

    .img-box div{
        display: none;
        /* aspect-ratio: 1/2; */
        
    }
    .img-box .count {
        display:none;
    }

    .item .text-box {
        /* transform: scale(0.5); */
        padding: 0 1rem;
        /* width:90vh; */
    }
    .item-titile{
        width:50vh;
    }

    .makeup-tap {
        transform: scale(0.4);
    }

    .items-list {
        margin-bottom: 10rem;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        column-gap: 2rem;
    }
    /* .item .img-box .img {
        transform: scale(0.5);
        
    } */
    :root {
        --peek-width: 0rem;
        --gap: 0rem;
    }

    .slides {
        width: 100vh;

    }

    .slide {
        transform: scale(0.9);
        padding: 0;
        justify-content: center;
    }
    
    .slide {
        width: 100vw;
        height: 20rem;
        background-size: cover; 
        background-position: left center;
        background-repeat: no-repeat;
    }
    
    .page-wrapper {
        padding: 10rem 0 0;
    }



}