.makeup-list{
    width:275px;
    height:300px;
    text-align: center;
}
.makeup-list .face-tap-imgs{
    position:relative;
    display: flex;
    flex-direction: column;
    width:275px;
    height:260px;
}   
.makeup-list .face-tap-imgs img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.makeup-list .img {
    z-index: 100;
}
.face-tap-text {
    margin-top:20px;
    font-size: 16px;
    font-weight:400;
}

/* 이미지 호버 시 커지게 */
.makeup-list .img:hover img {
    transform: scale(1.15);
    transition: 0.3s ;
    z-index: 101;
}
