/* 아이템별 색상 */

.one div:first-child {

    .img-box .color1 {
        background: #050407;
        right: 9.3rem;
        top: 36.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color2 {
        background: #54332C;
        right: 7rem;
        top: 38.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color3 {
        background: #90644C;
        right: 4.5rem;
        top: 40.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box:hover {
        background-color: #eee;
    }

    .img-box:hover div {
        top: 32.5rem;
    }
}
.one div:nth-child(3) {
    
    .img-box .color1 {
        background: #A38978;
        right: 9.3rem;
        top: 36.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color2 {
        background: #B69187;
        right: 7rem;
        top: 38.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color3 {
        background: #CAA790;
        right: 4.5rem;
        top: 40.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box:hover {
        background-color: #eee;
    }

    .img-box:hover div {
        top: 32.5rem;
    }
}
.two div:first-child {

    .img-box .color1 {
        background: #B43842;
        right: 9.3rem;
        top: 36.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color2 {
        background: #CA4570;
        right: 7rem;
        top: 38.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box .color3 {
        background: #004D45;
        right: 4.5rem;
        top: 40.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-box:hover {
        background-color: #eee;
    }

    .img-box:hover div {
        top: 32.5rem;
    }
}
