.item-wrap{
    padding:0 15rem 0;
    margin-bottom: 12rem;
}
.filter-bar {
    display: flex;
    justify-content:space-between;
    margin-top:6.3rem;
}

.filter-bar .left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filter-bar .left p:first-child {
    font-size: 1.6rem;
    font-weight: 400;
}

.filter-bar .left p:last-child {
    font-size: 1.3rem;
    font-weight: 400;
    color: #959595;
}

.filter-bar .right {
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}


.items-list-all{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-top: 4rem;
}
.item-list {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.nin{
    justify-content: flex-start;
}
.fou{
    justify-content: flex-start;
}