/* === Item 1 === */
.items-list .item:first-child .img-box .color2 {
    background: #DA9E79;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:first-child .img-box .color3 {
    background: #9E6341;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:first-child .img-box:hover {
    background-color: #eee;
}

.items-list .item:first-child .img-box:hover div {
    top: 32.5rem;
}
/* === Item 2 === */
.items-list .item:nth-child(2) .img-box .color1 {
    background: #ED8784;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(2) .img-box .color2 {
    background: #C7747C;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(2) .img-box .color3 {
    background: #9A5B55;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(2) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(2) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 3 === */
.items-list .item:nth-child(3) .img-box .color1 {
    background: #A56370;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(3) .img-box .color2 {
    background: #D47B6E;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(3) .img-box .color3 {
    background: #D7838F;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(3) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(3) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 4 === */
.items-list .item:nth-child(4) .img-box .color1 {
    background: #F1BC92;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(4) .img-box .color2 {
    background: #E9B585;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(4) .img-box .color3 {
    background: #E3A67A;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(4) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(4) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 5 === */
.items-list .item:nth-child(5) .img-box .color3 {
    background: #E9BD9A;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(5) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(5) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 6 === */
.items-list .item:nth-child(6) .img-box .color3 {
    background: #EEBFA5;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(6) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(6) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 7 === */
.items-list .item:nth-child(7) .img-box .color2 {
    background: #D9AB87;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(7) .img-box .color3 {
    background: #E5B692;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(7) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(7) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 8 === */
.items-list .item:nth-child(8) .img-box .color1 {
    background: #DCBD9A;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box .color2 {
    background: #D3B290;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box .color3 {
    background: #C2A17C;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(8) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 9 === */
.items-list .item:nth-child(9) .img-box .color1 {
    background: #FAD8C8;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(9) .img-box .color2 {
    background: #FED7B0;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(9) .img-box .color3 {
    background: #F9D1B8;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(9) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(9) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 10 === */
.items-list .item:nth-child(10) .img-box .color1 {
    background: #F6F6F6;
    border:1px solid black;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(10) .img-box .color2 {
    background: #BF9978;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(10) .img-box .color3 {
    background: #BA8F71;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(10) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(10) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 11 === */
.items-list .item:nth-child(11) .img-box:hover {
    background-color: #eee;
}

/* === Item 12 === */
.items-list .item:nth-child(12) .img-box .color1 {
    background: #FAD8C8;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(12) .img-box .color2 {
    background: #FED7B0;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(12) .img-box .color3 {
    background: #F9D1B8;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(12) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(12) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 13 === */
.items-list .item:nth-child(13) .img-box:hover {
    background-color: #eee;
}

/* === Item 14 === */
.items-list .item:nth-child(14) .img-box:hover {
    background-color: #eee;
}

/* === Item 15 === */
.items-list .item:nth-child(15) .img-box .color1 {
    background: #FAD8C8;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(15) .img-box .color2 {
    background: #FED7B0;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(15) .img-box .color3 {
    background: #F9D1B8;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(15) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(15) .img-box:hover div {
    top: 32.5rem;
}

/* === Item 16 === */
.items-list .item:nth-child(16) .img-box .color1 {
    background: #DDBD9A;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(16) .img-box .color2 {
    background: #D1B390;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(16) .img-box .color3 {
    background: #C2A17C;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(16) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(16) .img-box:hover div {
    top: 32.5rem;
}